footer
    padding: 0 0 20px 
    nav
        a 
            color: #0e0000
    ul
        display: flex
        flex-direction: row
        margin: 0 20px 
        li 
            margin: 0 10px 
            background-color: #212529
            border-radius: 50%
            padding: 20px
            width:  10px 
            height: 10px 
            .icon
                color: #ffffff
                margin: -9px